/srv/nfs    192.168.100.20(rw,sync,no_root_squash,no_subtree_check)
/srv/nfs    192.168.100.21(rw,sync,no_root_squash,no_subtree_check)
/srv/nfs    192.168.100.22(rw,sync,no_root_squash,no_subtree_check)
/srv/nfs    192.168.100.25(rw,sync,no_root_squash,no_subtree_check)
